.card-match {
    max-width: 600px;
    color: black;
}

.card-match a {
    text-decoration: none;
    color:black
}

.card-match a:hover {
    color: #0a53be;
}

.border-right {
    border-right: black 1px solid;
}